modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 33705
externalPort = 6000

[[ports]]
localPort = 37419
externalPort = 3003

[[ports]]
localPort = 38255
externalPort = 3001

[[ports]]
localPort = 40269
externalPort = 5000

[[ports]]
localPort = 41545
externalPort = 6800

[[ports]]
localPort = 44865
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "preview"]
build = ["npm", "run", "build"]
